<CardView class="[ primary-card ]" elevation="40" radius="10" ios:backgroundColor="#FFF" shadowColor="#CCCCCC" shadowOpacity="2">
	<GridLayout padding="14" columns="*, 2*" backgroundColor="#EC1D24">
		<Image col="0" src="res://ic_ultimo_momento" stretch="aspectFit"></Image>
	    <StackLayout col="1" rows="*, *">
	    	<Label row="0" text="ÚLTIMO MOMENTO" textWrap="true" color="#FFF" fontSize="26px"></Label>
	    	<Label row="1" [text]="data.title" textWrap="true" color="#000" fontSize="18px"></Label>
	    </StackLayout>
	</GridLayout>
</CardView>
