<CardView  class="primary-card" elevation="40" radius="10" > 
    <StackLayout orientation="vertical">
        <Label class="[ color-light ]" [text]="data.columna" textAlignment="center" textWrap="true" backgroundColor="#0071BC" textTransform="uppercase" fontSize="16px" padding="14px"></Label>
        <GridLayout padding="14" rows="auto, auto, auto, auto">
            <Label row="0" class="[ title-post ]" [text]="data.title" textAlignment="center" textWrap="true"></Label>
            <Label row="1" class="[ color-dark ][ excerpt ]" [text]="data.excerpt" textAlignment="center" textWrap="true"></Label>
            <Label row="2" class="[ divider ]"></Label>
            <GridLayout row="3" columns="14, *, 14, *, *" class="[ info ]">
                <Image col="0" src="res://ic_calendar"></Image> 
                <Label col="1" class="[ info ]" [text]="data.date" marginLeft="5" textWrap="true" verticalAlignment="center"></Label>
                <Image col="2" src="res://ic_clock"></Image> 
                <Label col="3" [text]="data.reading_time"  marginLeft="5" textWrap="true" verticalAlignment="center"></Label>
                <Button col="4" class="[ btn btn-transparent ]" text="Leer"></Button>
            </GridLayout>
        </GridLayout>
    </StackLayout>
</CardView>