<RadSideDrawer showOverNavigation="true" tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Image src="res://logo_header" class="action-image"></Image>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label text="Portada" class="sideLabel" [nsRouterLink]="['home']" nsRouterLinkActive="sideLabelActive" [nsRouterLinkActiveOptions]="{exact: true}" (tap)="onCloseDrawerTap()"></Label>
            <Label text="Reporte" class="sideLabel" [nsRouterLink]="['reporte']" nsRouterLinkActive="sideLabelActive" [nsRouterLinkActiveOptions]="{exact: true}" (tap)="onCloseDrawerTap()"></Label>
            <Label  text="Opinión" class="sideLabel" [nsRouterLink]="['opinion']" nsRouterLinkActive="sideLabelActive" [nsRouterLinkActiveOptions]="{exact: true}" (tap)="onCloseDrawerTap()"></Label>
            <Label text="Latitud" class="sideLabel" [nsRouterLink]="['latitud']" nsRouterLinkActive="sideLabelActive" [nsRouterLinkActiveOptions]="{exact: true}" (tap)="onCloseDrawerTap()"></Label>
            <Label text="Indigonómics" class="sideLabel" [nsRouterLink]="['indigonomics']" nsRouterLinkActive="sideLabelActive" [nsRouterLinkActiveOptions]="{exact: true}" (tap)="onCloseDrawerTap()"></Label>
            <Label text="Piensa" class="sideLabel"></Label>
            <Label text="Fan" class="sideLabel"></Label>
            <Label text="Indigo Videos" class="sideLabel"></Label>
            <Label text="Deslgose" class="sideLabel"></Label>
        </StackLayout>
        <Label text="Redes Sociales" color="white" padding="10" style="horizontal-align: center"></Label>
        <GridLayout class="sideTitleStackLayout" columns="*, *, *, *">
            <Image col="0" src="res://ic_menu" class="action-image"></Image>
            <Image col="1" src="res://ic_menu" class="action-image"></Image>
            <Image col="2" src="res://ic_menu" class="action-image"></Image>
            <Image col="3" src="res://ic_menu" class="action-image"></Image>
        </GridLayout>
    </StackLayout>
    <StackLayout tkMainContent orientation="vertical">
        <!-- TODO: Move to component. How do I trigger SideDrawer? -->
        <GridLayout columns="*, *, *" class="header">
            <Image col="0" src="res://ic_menu" (tap)="openDrawer()" textAlignment="left" horizontalAlignment="left"></Image>
            <Image col="1" src="res://logo_header" textAlignment="center" horizontalAlignment="center"></Image>
            <Image col="2" src="res://ic_search" (tap)="openDrawer()" textAlignment="right" horizontalAlignment="right"></Image>
        </GridLayout>
       <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>