<StackLayout orientation="vertical"> 
    <ListView [items]="postList" class="small-spacing" [itemTemplateSelector]="templateSelector" (loadMoreItems)="loadMoreItems()">
        <!-- Layout Home -->
        <ng-template let-item="item" nsTemplateKey="primaria">
            <GridLayout>
                <featured-news [data]="item"></featured-news>
            </GridLayout>
        </ng-template>
        <ng-template let-item="item" nsTemplateKey="secundaria">
            <GridLayout>
                <regular-news-card [data]="item"></regular-news-card>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>